backend/src/main/resources/schemas/EvaluationForm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:eform="http://www.ftn.uns.ac.rs/publishing/evaluationForms"
    targetNamespace="http://www.ftn.uns.ac.rs/publishing/evaluationForms"
    elementFormDefault="qualified">

    <xs:element name="evaluation_form"/>
    <xs:attribute name="paperId" type="xs:string"/>
    <xs:attribute name="author_username" type="xs:string"/>
</xs:schema>
